* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


html {
    background-color: blueviolet;
}

/*body{
    margin: auto;
    background-image: url("../images/image2.jpg");
    background-size: cover;
    justify-content: center;
    /* background-position: center; */
    /* width: 80%;
    padding: 20px;*/
    text-align: center; 
    font-family: 'Roboto', sans-serif;
}


.slider-container {
    margin-left: 44%;
    width: 15%;
    margin-top: 2%;
    border-radius: 50%;
    /** border: 2px solid black;**/

}

.slide img {
    width: 100%;
    height: auto;
}

#logo1,
#logo2 {
    width: 15%;
}


#menu {
    display: flex;
    justify-content: stretch;
    background-color: #333;
    overflow: hidden;
    width: 100%;
    padding: 10px;


}

#menu a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    margin: auto;
    background: pink;
}

#logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: green;
    width: 50%;
}

#home {
    display: flex;
    justify-content: flex-end;
    background-color: grey;
    width: 50%;
    animation-name: example;
    animation-duration: 15s;
}

 #home a:hover { /*voici la partie qui permet une animation lorsque notre souris survole les éléments du menu (home) */
    background-color: #ddd;
    color: black;
  }

@keyframes example {
    from {
        background-color: rgb(0, 238, 255);
    }

    to {
        background-color: rgb(255, 145, 0);
    }
}


#bannière-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    overflow: hidden;
}

#bannière {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    height: auto;
}

.prevBtn, .nextBtn {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent pour les boutons */
}

.nextBtn{
    right: 10px;
}

.prevBtn{
    left: 10px;
}

/* Animation pour les boutons au survol */
.prevBtn:hover, .nextBtn:hover {
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(116, 3, 3);
}


.box{
    margin: auto;
    width: 80%;
    max-width: 400px;
    background: green;
    text-align: center;
    justify-content: space-around;
    padding: 20px;
    border-radius : 20px
    /*margin-bottom: 20px; /* Ajout de l'espace entre chaque boîte */
}

.box:not(:last-child) {
    margin-bottom: 20px; /* Ajout de l'espace entre chaque boîte sauf la dernière */
}

/*main{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    padding: 10px;
    margin:auto;
}*/

#Boites {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    margin: auto;
    background-image: url("../images/image2.jpg");
    background-size: cover;
    justify-content: center;
    /* background-position: center; */
    /* width: 80%;
    padding: 20px;*/
    text-align: center; 
    font-family: 'Roboto', sans-serif;
}

footer {
    text-align: center;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    padding: 20px;
}