* {
    margin: 0;
}
body{
    background: linear-gradient(beige,rgb(227, 152, 152));
}

.banniere {
    background-color: rgb(33, 33, 33);    display: flex;
    justify-content: space-between; /* Ajout de cette ligne pour séparer les éléments à gauche et à droite */
}

h1 {
    font-size:20px;
    margin:7px;
    color:white;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8); /* Effet de brillance en blanc */

}

.menu a {
    float: left;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 17px;
    color: white;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8); /* Effet de brillance en blanc */
}

.menu a:hover {
    background-color: #ede1f7;
    color: black;
}

.barre{
    display:none;
}



.icon{
    width: 50px;
    display:none
}

.banniere2 {
    background-color: rgb(61, 61, 61);
    display: flex;
    flex-direction: column;  Affiche les éléments en colonne 
    display:;

}



.menu2 a {
    text-decoration:none;
    font-size: 17px;
    color: white;
    min-width: 160px;
}

@media (max-width: 767px) {
    .menu a {
        display: none;
    }

    .icon {
        margin-left: auto;
        display: block;
        width: 44px;
        cursor: pointer;
    }

    .barre {
        display: block;
    }

    .menu2 a:hover{
        background-color: #ede1f7;
    }

}


.djeneba {
    width: 15%;
    border-radius: 50%;
    display: block;
    margin: auto;
    /* Centrer l'image horizontalement */
    margin-top: 15px;
}


@media (max-width: 767px) {
    .djeneba {
        width: 35%;
    }
}

.Boite {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}

.box {
    width: 25%;
    margin: 10px;
    padding: 20px;
    background-color: rgb(242, 232, 248);
    text-align: center;
    border-radius : 20px;
}
@media (max-width: 767px) {
    .box {
        width: 83%;
    }
}

form {
    display: flex;
    flex-direction: column;
    background-color:  #e52b2b;
    padding: 10px;
    border-radius: 6px;
    width: 40%;
    margin: auto;
}
.Edito{
  background-color: beige;  
}
.Formulaire{
    text-align: center; 
}
.footer{
    background-color:black;
}